**/node_modules
**/dist
**/.yarn/cache
**/.yarn/install-state.gz
**/uploads
**/database
**/.turbo
**/.github
**/.husky
**/.vscode
**/logs
**/thunder-tests
**/docs
**/docker
**/.editorconfig
**/.eslintrc.json
**/.git
**/.gitignore
**/.gitattributes
**/.prettierignore
**/.prettierrc.cjs
**/.prettierrc.json
**/insomnia.json
**/playwright.config.ts
**/Caddyfile
**/docker-compose.example.yml
**/docker-compose.yml
**/packages/frontend
