# Packages
node_modules
**/node_modules

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE
.vscode

# Docker (experimental)
docker/
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.config.yml
docker-compose.config.example.yml

# Tests
coverage/
jest-setup.ts
jest.config.js

# Linting
.eslingignore
.eslintrc.json
tsconfig.eslint.json

# Miscellaneous
.tmp
.vscode
.git
.gitattributes
.gitignore
README.md
chibi.ps1
chibi.sh
dist
.nuxt
