[Unit]
Description=chibisafe, easy to use file uploader
After=network.target

[Service]
Type=simple
User=yourusername
WorkingDirectory=/path/to/chibisafe
EnvironmentFile=/path/to/chibisafe/.env
ExecStart=/usr/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target
