[Unit]
Description=toshokan, easy to use file uploader
After=network.target

[Service]
Type=simple
User=yourusername
WorkingDirectory=/path/to/toshokan
EnvironmentFile=/path/to/toshokan/.env
ExecStart=/usr/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target
