# Packages
node_modules/
dist/
.nuxt/
logs/
# Chibisafe specifics
database.sqlite
uploads/
.env
!src/api/routes/uploads
db
database.sqlite-journal
docker/nginx/chibisafe.moe.conf
docker-compose.config.yml
/coverage
local/
