@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*
	:root {
		
		--background: 200 6% 10%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
	*/
	:root {
		/* https://chibisafe.moe/BYyggerF.png */

		--background: 210 18% 4%;
		--foreground: 210 5% 84%;

		--muted: 210 18% 9%;
		--muted-foreground: 210 5% 69%;

		--accent: 195 6.3% 12.5%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 212 19% 21%;
		--primary-foreground: 210 5% 92%;

		--secondary: 211 19% 21%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}

	* {
		@apply antialiased;
		@apply border-border;
	}

	html,
	body {
		@apply h-full w-full;
	}

	body {
		overscroll-behavior-y: none;
		@apply h-full w-full fixed;
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}

	img {
		@apply inline-block m-0;
	}

	.blueprint {
		background-image: linear-gradient(rgba(100, 100, 100, 0.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba(100, 100, 100, 0.1) 1px, transparent 1px),
			linear-gradient(rgba(100, 100, 100, 0.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba(100, 100, 100, 0.1) 1px, transparent 1px);
		background-size:
			20px 20px,
			20px 20px,
			20px 20px,
			20px 20px;
		background-position: 50% 50%;
	}

	.masonry {
		list-style: none;
		column-gap: 0;
		padding: 0;
		column-count: 1;
	}

	.masonry > div {
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		break-inside: avoid;
		margin-bottom: 0.75rem;
		margin-right: 0.75rem;
		position: relative;
	}

	@media (min-width: 320px) and (max-width: 759.5px) {
		.masonry {
			column-count: 2;
		}
	}
	@media (min-width: 760px) and (max-width: 979.5px) {
		.masonry {
			column-count: 3;
		}
	}
	@media (min-width: 980px) and (max-width: 1023.5px) {
		.masonry {
			column-count: 4;
		}
	}
	@media (min-width: 1024px) {
		.masonry {
			column-count: 5;
		}
	}

	/* Scroll thumb styles */
	::-webkit-scrollbar {
		width: 0.5rem;
	}
	::-webkit-scrollbar-thumb {
		background: #27272e;
		border-radius: 1rem;
	}
	::-webkit-scrollbar-thumb:active {
		background-color: #131314;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #3b3b46;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	}

	/* Scroll track styles (Background) */
	::-webkit-scrollbar-track {
		background: #131314;
		border-radius: 4px;
	}
	::-webkit-scrollbar-track:hover,
	::-webkit-scrollbar-track:active {
		background: #131314;
	}
}
