/** Colors based on KDE Breeze Dark **/
html {
  background-color: #232629;
}

.section {
  background: none;
}

.menu-list a {
  color: #2980b9;
}

.menu-list a:hover {
  color: #3daee9;
  background-color: #4d4d4d;
}

.menu-list a.is-active {
  color: #eff0f1;
  background-color: #2980b9;
}

.button.is-primary {
  background-color: #2980b9;
}

.button.is-primary.is-hovered, .button.is-primary:hover {
  background-color: #2980b9;
}

.pagination a {
  color: #eff0f1;
  border-color: #4d4d4d;
  background-color: #31363b;
}

.pagination-link:hover, .pagination-next:hover, .pagination-previous:hover {
  color: #eff0f1;
  border-color: #3daee9;
  background-color: #31363b;
}

.label {
  color: #bdc3c7;
}

.table {
  color: #bdc3c7;
  background-color: #31363b;
}

.table tr:hover, .table.is-striped tbody tr:nth-child(2n) {
  background: none;
}

.table.is-striped tbody tr:hover, .table.is-striped tbody tr:nth-child(2n):hover, .tag {
  background-color: #4d4d4d;
}

.table thead td, .table thead th {
  color: #eff0f1;
  background-color: #ff3860;
}

.table th {
  color: #eff0f1;
}

.table td, .table th {
  border: 0;
}

section#dashboard div#table div.column {
  background-color: #31363b;
}

.menu-list li ul {
  border-left-color: #898b8d;
}
