{$CADDY_DOMAIN} {
	header {
		# enable HSTS
		# Strict-Transport-Security max-age=86400;

		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}

	reverse_proxy chibisafe:8000 {
		transport http {
			read_buffer 0
			write_buffer 0
		}
	}
}
