// $basePink: #EC1A55;

$background: #1e2430;
$backgroundAccent: #20222b;
$backgroundLight1: #f5f6f8;

$defaultTextColor: #4a4a4a;
$textColor: #c7ccd8;
$textColorHighlight: white;

$basePink: #ff015b;
$basePinkHover: rgb(196, 4, 71);
$baseBlue: #30A9ED;
$baseBlueHover: rgb(21, 135, 201);

$uploaderDropdownColor: #797979;

$boxShadow: 0 10px 15px rgba(4,39,107,0.2);
$boxShadowLight: 5px 5px 15px rgba(4, 39, 107, 0.2);
