// Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// Setup our custom colors
$chibisafe: #323846;
$chibisafe-invert: findColorInvert($chibisafe);

// XXX: EXPERIMENTAL, CHECK IF WE NEED ORIGINAL PRIMARY ANYWHERE
// $primary: $chibisafe;
// $primary-invert: $chibisafe-invert;

// declare custom colors
$custom-colors: (
  "chibisafe":($chibisafe, $chibisafe-invert)
);
