// Import the initial variables
@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulma/sass/utilities/functions";

// Setup our custom colors
$toshokan: #1E235A;
$toshokan-invert: findColorInvert($toshokan);

// XXX: EXPERIMENTAL, CHECK IF WE NEED ORIGINAL PRIMARY ANYWHERE
// $primary: $toshokan;
// $primary-invert: $toshokan-invert;

// declare custom colors
$custom-colors: (
  "toshokan":($toshokan, $toshokan-invert)
);
