// $basePink: #EC1A55;
$base-1: #1E235A;
$base-2: #0A0AAF;
$base-3: #8291EB;
$base-4: #BEB4F0;
$base-5: #F0D7F0;

$background: #1E1E1E;
$backgroundAccent: #323232;
$backgroundAccentLighter: #5F5A5A;
$backgroundLight1: #FFFEEB;

$scheme-main: $background;
$scheme-main-bis: $backgroundAccent;
$scheme-main-ter: $backgroundAccentLighter;

// customize navbar
$navbar-background-color: $backgroundAccent;
$navbar-item-color: #FFFEEB;

// $defaultTextColor: #4a4a4a;
$defaultTextColor: rgb(255, 255, 235);
$textColor: #FFFEEB;
$textColorHighlight: white;

$input-hover-color: $textColor;

$basePink: #FFC8C8;
$basePinkHover: #FFA096;
$baseBlue: #8291EB;
$baseBlueHover: #BEB4F0;

$uploaderDropdownColor: #5F5A5A;

$boxShadow: 0 10px 15px rgba(4, 39, 107, 0.2);
$boxShadowLight: rgba(15, 17, 21, 0.35) 0px 6px 9px 0px;

// pagination
$pagination-color: $defaultTextColor;

$pagination-focus-color: $textColorHighlight;
$pagination-focus-border-color: $textColorHighlight;

$pagination-active-color: $textColorHighlight;
$pagination-active-border-color: $textColorHighlight;

$pagination-hover-color: $textColorHighlight;
$pagination-hover-border-color: $textColorHighlight;

$pagination-current-background-color: $base-3;
$pagination-current-border-color: $base-2;

// loading
$loading-background: rgba(0, 0, 0, 0.8);
$loading-background: rgba(40, 40, 40, 0.66);

// dialogs
$modal-card-title-color: $textColor;
$modal-card-body-background-color: $background;
$modal-card-head-background-color: $backgroundAccent;
$modal-card-head-border-bottom: 1px solid rgba(255, 255, 255, 0.1098);
$modal-card-foot-border-top: 1px solid rgba(255, 255, 255, 0.1098);

// sidebar
$sidebar-background: $base-1;
$sidebar-box-shadow: none;

//
$menu-item-color: $textColor;
$menu-item-hover-color: $textColorHighlight;
$menu-item-active-background-color: $backgroundAccent;

// dropdown 
$dropdown-content-background-color: $background;
$dropdown-item-hover-background-color: $backgroundAccentLighter;
$dropdown-item-color: $textColor;
$dropdown-item-hover-color: $textColorHighlight;
$dropdown-item-active-color: $textColorHighlight;
$dropdown-item-active-background-color: hsl(171, 100%, 41%); // $primary

// tags
$tag-background-color: $base-2;
$tag-color: $textColor;
