// $basePink: #EC1A55;
$base-1: #292e39;
$base-2: #2e3440;
$base-3: #3b4252;
$base-4: #434c5e;
$base-5: #4c566a;

$background: #1e2430;
$backgroundAccent: #20222b;
$backgroundAccentLighter: #53555e;
$backgroundLight1: #f5f6f8;

$scheme-main: $background;
$scheme-main-bis: $backgroundAccent;
$scheme-main-ter: $backgroundAccentLighter;

// customize navbar
$navbar-background-color: $backgroundAccent;
$navbar-item-color: #f5f6f8;

// $defaultTextColor: #4a4a4a;
$defaultTextColor: rgb(236, 239, 244);
$textColor: #c7ccd8;
$textColorHighlight: white;

$input-hover-color: $textColor;

$basePink: #ff015b;
$basePinkHover: rgb(196, 4, 71);
$baseBlue: #30a9ed;
$baseBlueHover: rgb(21, 135, 201);

$uploaderDropdownColor: #797979;

$boxShadow: 0 10px 15px rgba(4, 39, 107, 0.2);
$boxShadowLight: rgba(15, 17, 21, 0.35) 0px 6px 9px 0px;

// pagination
$pagination-color: $defaultTextColor;

$pagination-focus-color: $textColorHighlight;
$pagination-focus-border-color: $textColorHighlight;

$pagination-active-color: $textColorHighlight;
$pagination-active-border-color: $textColorHighlight;

$pagination-hover-color: $textColorHighlight;
$pagination-hover-border-color: $textColorHighlight;

$pagination-current-background-color: $base-3;
$pagination-current-border-color: $base-2;

// loading
$loading-background: rgba(0, 0, 0, 0.8);
$loading-background: rgba(40, 40, 40, 0.66);

// dialogs
$modal-card-title-color: $textColor;
$modal-card-body-background-color: $background;
$modal-card-head-background-color: $backgroundAccent;
$modal-card-head-border-bottom: 1px solid rgba(255, 255, 255, 0.1098);
$modal-card-foot-border-top: 1px solid rgba(255, 255, 255, 0.1098);

// sidebar
$sidebar-background: $base-1;
$sidebar-box-shadow: none;

//
$menu-item-color: $textColor;
$menu-item-hover-color: $textColorHighlight;
$menu-item-active-background-color: $backgroundAccent;
