@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply antialiased;
	}

	html,
	body {
		@apply h-full w-full;
	}

	body {
		overscroll-behavior-y: none;
		@apply h-full w-full fixed;
	}

	img {
		@apply inline-block m-0;
	}

	.blueprint {
		background-image: linear-gradient(rgba(100, 100, 100,0.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(100, 100, 100,0.1) 1px, transparent 1px),
		linear-gradient(rgba(100, 100, 100,0.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(100, 100, 100,.1) 1px, transparent 1px);
		background-size:20px 20px, 20px 20px, 20px 20px, 20px 20px;
		background-position:50% 50%;
	}

	.masonry {
		list-style: none;
		column-gap: 0;
		padding: 0;
		column-count: 1;
	}

	.masonry > div {
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		break-inside: avoid;
		margin-bottom: .75rem;
		margin-right: .75rem;
		position: relative;
	}

	@media (min-width: 320px) and (max-width: 759.5px) {
		.masonry {
			column-count: 2;
		}
	}
		@media (min-width: 760px) and (max-width: 979.5px) {
		.masonry {
			column-count: 3;
		}
	}
		@media (min-width: 980px) and (max-width: 1023.5px) {
		.masonry {
			column-count: 4;
		}
	}
	@media (min-width: 1024px) {
		.masonry {
			column-count: 5;
		}
	}

	/* Scroll thumb styles */
	::-webkit-scrollbar {
		width: 0.5rem;
	}
	::-webkit-scrollbar-thumb {
		background: #27272e;
		border-radius: 1rem;
	}
	::-webkit-scrollbar-thumb:active {
		background-color: #131314;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #3b3b46;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	}

	/* Scroll track styles (Background) */
	::-webkit-scrollbar-track {
		background: #131314;
		border-radius: 4px;
	}
	::-webkit-scrollbar-track:hover,
	::-webkit-scrollbar-track:active {
		background: #131314;
	}

	
}

.uppy-Root {
	opacity: 0;
	position: absolute !important;
	top: 0;
	left: 0;
}

.uppy-Root button {
	cursor: pointer;
}
