name: Build and publish new release

on:
  push:
    tags:
      - '*'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      -
        name: Get tag
        id: repository
        run: echo "tag=$(git describe --tags HEAD)" > $GITHUB_ENV

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            chibisafe/chibisafe:latest
            chibisafe/chibisafe:${{ env.tag }}
            ghcr.io/chibisafe/chibisafe:latest
            ghcr.io/chibisafe/chibisafe:${{ env.tag }}

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/DockerfileServer
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            chibisafe/chibisafe-server:latest
            chibisafe/chibisafe-server:${{ env.tag }}
            ghcr.io/chibisafe/chibisafe-server:latest
            ghcr.io/chibisafe/chibisafe-server:${{ env.tag }}
